bg-crame {
	background: #EAE3D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
	
ul {
	/* list-style: none; */
}

.footer {
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 50px 0;
	
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 26px;
	
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	
	/* text-decoration: none; */
	font-weight: 300;
	
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(216, 205, 205, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	
	
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

.px-md-8 {
	padding-right: 5rem !important;
	padding-left: 5rem !important;
}


.underline-hover-footer {
	display: inline-table;
	padding-bottom: 0.25rem;
	position: relative;
}

.underline-hover-footer::before {
	content: "";
	position: absolute;
	/* left: 0; */
	right: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(to right, rgb(177, 116, 116), rgb(80, 40, 40));

	transition: width 0.25s ease-out;
}

.underline-hover-footer:hover::before {
	width: 100%;
	left: 0;
	right: auto;
}